<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- vendor js -->
        <%= javascript_include_tag 'js/vendor/modernizr-2.6.1.min.js' %>
        <%= javascript_include_tag '//code.jquery.com/jquery-1.11.0.min.js' %>
        <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>

        <!-- vendor css -->
        <%= stylesheet_link_tag 'css/normalize.css' %>
        <%= stylesheet_link_tag 'css/main.css' %>
        <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>

        <!-- friedman tutoring css -->
        <%= stylesheet_link_tag 'css/base.css' %>
    </head>
    <body>
        <header>
            <%= partial "nav" %>
        </header>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="container">
            <section class="page-content">
                <h1 class="centered">Friedman Tutoring</h1>
                <%= yield %>
            </section>
            <footer>
                <%= partial "contact" %>
            </footer>
        </div>
    </body>
</html>
